<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="formLogin" (ngSubmit)="ingresar()">
            <img src="./assets/img/usuario.png" alt="user" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" formControlName="usuario" matInput placeholder="Usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input formControlName="contraseña" matInput placeholder="Contraseña">
            </mat-form-field>
            <br>
            <button [disabled]="!formLogin.valid" type="submit" mat-raised-button class="boton ancho" color="primary">Ingresar</button>
        </form>
    </div>
    
</div>

